/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start my style*/

body {
	font: 0.75em Helvetica, sans-serif;
	width: 60%;
	margin: 40px auto 60px auto;
	padding: 0;
}

h1 {
	font-size: 1.5em;
	font-weight: lighter;
	letter-spacing: 2px;
	background: burlywood;
	padding: 5px 0;
	text-align: center;
	border-radius: 5px;
}

.center {
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

.inline {
	display: inline-block;
}

.gif {
	display: block;
}

.randomGifButton {
    font-size: 1em;
    text-align: center;
		width: 150px;
    padding: 5px 25px;
    background: skyblue;
    color: midnightblue;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 15px auto;
}

.randomGifButton:hover {
  background: mediumblue;
  color: #fff;
}

.randomGif {
	margin-top: 15px;
}

.randomStickerButton {
    font-size: 1em;
    text-align: center;
		width: 150px;
    padding: 5px 25px;
    background: skyblue;
    color: midnightblue;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 15px auto;
}

.randomStickerButton:hover {
  background: mediumblue;
  color: #fff;
}

input[type=text] {
    padding:5px;
    border:2px solid skyblue;
		width: 200px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
		margin: 15px auto;
}

::-webkit-input-placeholder {
	color: skyblue;
}

.searchGifButton {
	font-size: 1em;
	text-align: center;
	width: 150px;
	padding: 5px 25px;
	background: skyblue;
	color: midnightblue;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 15px auto;
}


.searchGifButton:hover {
  background: mediumblue;
  color: #fff;
}

input[type=submit] {
    font-size: 1em;
    text-align: center;
    padding: 5px 25px;
    background: skyblue;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit]:hover {
		background: mediumblue;
		color: #fff;
}

.underline {
  border-bottom: 1px solid #8C001A;
}
